
<%= form_tag '/login', class: "d-flex flex-column login_form" do %>
  <div class="form-floating mb-3">
    <%= text_field_tag :email, nil, class: "form-control", id: "floatingInput", placeholder: "name@example.com" %>
    <%= label_tag :email %>
  </div>
  <div class="form-floating mb-3">
    <%= password_field_tag :password, nil, class: "fas fa-lock form-control", id: "floatingPassword", placeholder: "password" %>
    <%= label_tag :password %>
  </div>
  <a class="centered underline" href="<%= new_user_path %>">
    Zum ersten mal hier? Dann hier entlang!
  </a>
  <%= submit_tag "Login", class: "submit_login" %>
<%end%>
