<% if logged_in? %>
  <%= form_tag '/first_login', class: "d-flex flex-column first_login_form" do %>
    <div class="form-floating mb-3">
      <%= text_field_tag :email, nil, class: "form-control", id: "floatingEmail", placeholder: "name@example.com" %>
      <%= label_tag :email %>
    </div>
    <%= button_tag(type: 'submit', class: "btn btn-info") do %>
      <span id="loader" class="spinner-border spinner-border-sm" role="status" style="display:none;"></span>
      <i id="prev_loader" class="fas fa-save"></i>
      Speichern
    <% end %>
  <% end %>
<% else %>
  <%= form_tag '/first_login', class: "d-flex flex-column first_login_form" do %>
    <div class="form-floating mb-3">
      <%= text_field_tag :firstname, nil, class: "form-control", id: "floatingFirstname", placeholder: "firstname"  %>
      <%= label_tag :firstname %>
    </div>
    <div class="form-floating mb-3">
      <%= text_field_tag :lastname, nil, class: "form-control", id: "floatingLastnmae", placeholder: "lastname"  %>
      <%= label_tag :lastname %>
    </div>
    <div class="form-floating mb-3">
      <%= text_field_tag :email, nil, class: "form-control", id: "floatingEmail", placeholder: "name@example.com"  %>
      <%= label_tag :email %>
    </div>
    <div class="form-floating mb-3">
      <%= password_field_tag :password, nil, class: "fas fa-lock form-control", id: "floatingPassword", placeholder: "password"  %>
      <%= label_tag :password %>
    </div>
    <div class="form-floating mb-3">
      <%= password_field_tag :api_key, nil, class: "fas fa-lock form-control", id: "floatingApiKey", placeholder: "api_key"  %>
      <%= label_tag :api_key %>
    </div>
    <%= submit_tag "Speichern", class: "submit_login" %>
  <% end %>
<% end %>
