<%= form_tag '/first_login', class: "d-flex flex-column first_login_form" do %>
  <div class="form-floating mb-3">
    <%= text_field_tag :firstname, nil, class: "form-control", id: "floatingFirstname", placeholder: "firstname"  %>
    <%= label_tag :firstname %>
  </div>
  <div class="form-floating mb-3">
    <%= text_field_tag :lastname, nil, class: "form-control", id: "floatingLastnmae", placeholder: "lastname"  %>
    <%= label_tag :lastname %>
  </div>
  <div class="form-floating mb-3">
    <%= text_field_tag :email, nil, class: "form-control", id: "floatingEmail", placeholder: "name@example.com"  %>
    <%= label_tag :email %>
  </div>
  <div class="form-floating mb-3">
    <%= password_field_tag :password, nil, class: "fas fa-lock form-control", id: "floatingPassword", placeholder: "password"  %>
    <%= label_tag :password %>
  </div>
  <%= submit_tag "Speichern", class: "submit_login" %>
<%end%>
