  <div class="button-div">
    <%= button_to "Projekt erstellen", new_project_path, method: :get, class: "btn btn-info float-end mt-5" %>
  </div>
<div class="table-container">
  <table id="projects-table" class="table table-hover shadow rounded-custom">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titel</th>
        <th scope="col">Aktionen</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |p| %>
        <tr>
          <td><%= p.id %></td>
          <td><%= p.title %></td>
          <td>
            <%= link_to(edit_issue_template_path(id: t.id),:class => 'btn action_btn') do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to(issue_template_path(id: t.id), :method => 'delete',:class => 'btn action_btn') do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


