<div class="table-container">
  <table id="projects-table" class="table table-hover shadow rounded-custom">
    <thead>
    <tr>
      <th scope="col">Titel</th>
      <th scope="col">Erstellt</th>
      <th scope="col">Aktionen</th>
    </tr>
    </thead>
    <tbody>
    <% @issue_templates.each do |it| %>
      <tr>
        <td><%= it.title %></td>
        <td>
          <% if it.created_for_project?(@project) %>
            <i class="fas fa-check"></i>
          <% else %>
            <i class="fas fa-times"></i>
          <% end %>
        </td>
        <td>
          <% if it.concrete_template_existing?(@project) %>
            <%= link_to(edit_concrete_issue_template_path(id: it.id), :class => 'btn action_btn') do %>
              <i class="fas fa-upload"></i>
            <% end %>
          <% else %>
            <%= link_to(new_concrete_issue_template_path(issue_template_id: it.id, project_id: @project.id), :class => 'btn action_btn') do %>
              <i class="fas fa-list"></i>
            <% end %>
          <% end %>
          <a class="btn action_btn <%= 'disabled' unless it.created_for_project?(@project) %>" href="<%= concrete_issue_template_path(id: it.id) %>" data-method="delete">
            <i class="fas fa-trash-alt"></i>
          </a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
