<div class="title-container rounded-custom shadow">
  <h3>Ticket absenden</h3>
</div>

<%= form_for @concrete_issue_template do |f| %>
  <div class="container rounded-custom shadow">
    <%= label_tag "Titel" %>
    <%= text_field_tag "", @issue_template.title, class: "form-control title-field mt-3", disabled: true %>
    <div class="float-end mt-3">
      <button type="button" class="create_task btn btn-info aj_btn" data-id="<%= f.object.id %>">
        <i class="fas fa-upload"></i>
        Erstellen
      </button>
    </div>
  </div>
  <% idx = -1 %>
  <%= f.fields_for :concrete_template_values do |ctv| %>
    <div class="container rounded-custom shadow">
      <% idx+=1 %>
      <% defined_attribute = @predefined_attributes.where(id: ctv.object.issue_template_attribute_id).first %>
      <%= ctv.hidden_field :issue_template_attribute_id, value: defined_attribute.id %>
      <% case defined_attribute.attribute_type %>
      <% when IssueTemplateAttribute::TYPE_GENERAL_DESCRIPTION, IssueTemplateAttribute::TYPE_TECHNICAL_DESCRIPTION,
        IssueTemplateAttribute::TYPE_KEY_VALUE, IssueTemplateAttribute::TYPE_CODEBLOCK %>
        <h5 class="pt-3"><%= I18n.t('template_type_'+defined_attribute.attribute_type.to_s) %></h5>
        <%= ctv.label defined_attribute.field_value rescue "hier is nichts eingetragen" %>
        <%= ctv.text_area :extended_field_value, class: "form-control", disabled: true %>
      <% when IssueTemplateAttribute::TYPE_UNORDERED_LIST, IssueTemplateAttribute::TYPE_ORDERED_LIST %>
        <h5 class="pt-3"><%= I18n.t('template_type_'+defined_attribute.attribute_type.to_s) %></h5>
        <% defined_attribute.optional_size.times do |index| %>
          <label for="concrete_issue_template[concrete_template_values_attributes][<%= idx %>][dynamic_size_data][<%= index %>]">Punkt <%= index+1 %></label>
          <input type="text"
                 name="concrete_issue_template[concrete_template_values_attributes][<%= idx %>][dynamic_size_data][<%= index %>]"
                 class="form-control"
                 value="<%= ctv.object.dynamic_size_data[index.to_s] %>"
                 disabled="true"/>
        <% end %>
      <% end %>

    </div>
  <% end %>

<% end %>
