<h1>Ticket erstellen</h1>

<%= form_for @concrete_issue_template do |f| %>
  <div class="container rounded-custom shadow">
    <%= label_tag "Titel" %>
    <%= text_field_tag "", @issue_template.title, class: "form-control", disabled: true %>
  </div>

  <%= f.fields_for :concrete_template_values do |itv| %>
    <div class="container rounded-custom shadow">

      <% defined_attribute = @predefined_attributes.where(id: itv.object.issue_template_attribute_id).first %>
      <%= itv.hidden_field :issue_template_attribute_id, value: defined_attribute.id %>
      <% case defined_attribute.attribute_type %>
      <% when IssueTemplateAttribute::TYPE_GENERAL_DESCRIPTION %>
        <h5 class="pt-3"><%= I18n.t('template_type_'+defined_attribute.attribute_type.to_s) %></h5>
        <%= itv.label defined_attribute.field_value rescue "hier is nichts eingetragen" %>
        <%= itv.text_field :extended_field_value, class: "form-control" %>
      <% when IssueTemplateAttribute::TYPE_TECHNICAL_DESCRIPTION %>
        <h5 class="pt-3"><%= I18n.t('template_type_'+defined_attribute.attribute_type.to_s) %></h5>
        <%= itv.label defined_attribute.field_value rescue "hier is nichts eingetragen" %>
        <%= itv.text_field :extended_field_value, class: "form-control" %>
      <% when IssueTemplateAttribute::TYPE_KEY_VALUE %>
        <h5 class="pt-3"><%= I18n.t('template_type_'+defined_attribute.attribute_type.to_s) %></h5>
        <%= itv.label defined_attribute.field_value rescue "hier is nichts eingetragen" %>
        <%= itv.text_field :extended_field_value, class: "form-control" %>
      <% when IssueTemplateAttribute::TYPE_CODEBLOCK %>
        <h5 class="pt-3"><%= I18n.t('template_type_'+defined_attribute.attribute_type.to_s) %></h5>
        <%= itv.label defined_attribute.field_value rescue "hier is nichts eingetragen" %>
        <%= itv.text_field :extended_field_value, class: "form-control" %>
      <% when IssueTemplateAttribute::TYPE_ORDERED_LIST %>
      <% when IssueTemplateAttribute::TYPE_UNORDERED_LIST %>
      <% end %>

    </div>
  <% end %>

  <button type="button" class="create_task btn btn-info float-end mt-3 aj_btn" data-id="<%= f.object.id %>">
    <i class="fas fa-upload"></i>
    Erstellen
  </button>

<% end %>
