<div class="title-container rounded-custom shadow">
  <h3>Vorlage bearbeiten</h3>
</div>

<%= form_for @issue_template, :html => { :'data-url' => "#{issue_template_path(id: @issue_template)}" } do |f| %>

  <div class="container rounded-custom shadow mh-70">
    <%= f.select(:issue_template_attributes,
                 IssueTemplateAttribute::ATTRIBUTE_TYPES.map { |ita| [I18n.t('template_type_'+ita.to_s), ita] },
                 {include_blank: "Feld auswählen"}, {class: 'form-select mt-3'}) %>
    <div class="float-end mt-3">
      <button type="button" class="add_attribute btn btn-info" data-id="<%= f.object.id %>">
        <i class="fas fa-check"></i>
        Hinzufügen
      </button>
      <%= button_tag(type: 'submit', class: "btn btn-info") do %>
        <span id="loader" class="spinner-border spinner-border-sm" role="status" style="display:none;"></span>
        <i id="prev_loader" class="fas fa-save"></i>
        Speichern
      <% end %>
    </div>
  </div>

  <div class="container rounded-custom shadow">
    <h5 class="pt-3">Titel</h5>
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>

  <%= f.fields_for :issue_template_attributes do |ita| %>
    <div class="container rounded-custom shadow">
      <h5 class="pt-3"><%= I18n.t('template_type_'+ita.object.attribute_type.to_s) %></h5>
      <% if IssueTemplateAttribute::TYPE_KEY_VALUE == ita.object.attribute_type %>
        <%= ita.text_field :field_value, value: ita.object.field_value , class: "form-control" %>
      <% elsif IssueTemplateAttribute::TEXT_FIELD_ATTRIBUTES.include?(ita.object.attribute_type) %>
        <% if IssueTemplateAttribute::TYPE_CODEBLOCK == ita.object.attribute_type %>
          <div class="row col-12">
            <div class="col-10">
              <%= ita.label "Code" %>
              <%= ita.text_field :field_value, value: ita.object.field_value , class: "form-control" %>
            </div>
            <div class="col-2">
              <%= ita.label "Sprache" %>
              <%= ita.select :optional_size, [["Ruby", 0], ["HTML", 1], ["Python", 2]], {:prompt => 'Sprache wählen'}, {:class => "form-select"} %>
            </div>
          </div>
        <% else %>
          <%= ita.text_area :field_value, value: ita.object.field_value , class: "form-control" %>
        <% end %>
      <% elsif IssueTemplateAttribute::LIST_FIELD_ATTRIBUTES.include?(ita.object.attribute_type) %>
        <div class="row col-12">
          <div class="col-10">
            <%= ita.label "Titel" %>
            <%= ita.text_field :field_value, value: ita.object.field_value, class: "form-control" %>
          </div>
          <div class="col-2">
            <%= ita.label "Anzahl Punkte" %>
            <%= ita.number_field :optional_size, value: ita.object.optional_size, class: "form-control" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>


<% end %>
