<div class="button-div">
  <%= button_to "Template erstellen", new_issue_template_path, method: :get, class: "btn btn-info float-end mt-5" %>
</div>
<div class="table-container">
  <table id="issue_templates-table" class="table table-hover shadow rounded-custom">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titel</th>
        <th scope="col">Aktionen</th>
      </tr>
    </thead>
    <tbody>
      <% @templates.each do |t| %>
        <tr>
          <td><%= t.id %></td>
          <td><%= t.title %></td>
          <td>
            <%= link_to(edit_issue_template_path(id: t.id),:class => 'btn action_btn') do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to(issue_template_path(id: t.id), :method => 'delete',:class => 'btn action_btn') do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
