<div class="title-container rounded-custom shadow">
  <h3>Vorlage erstellen</h3>
</div>

<%= form_for @issue_template do |f| %>

  <div class="container rounded-custom shadow mh-70">
    <%= f.select(:issue_template_attributes, IssueTemplateAttribute::ATTRIBUTE_TYPES.map { |ita| [I18n.t('template_type_'+ita.to_s), ita] }, {include_blank: "Feld auswählen"}, {class: 'form-select mt-3'}) %>
    <div class="float-end mt-3">
      <button type="button" class="add_attribute btn btn-info aj_btn" data-id="<%= f.object.id %>">
        <i class="fas fa-check"></i>
        Hinzufügen
      </button>
      <%= button_tag(type: 'submit', class: "btn btn-info") do %>
        <span id="loader" class="spinner-border spinner-border-sm" role="status" style="display:none;"></span>
        <i id="prev_loader" class="fas fa-save"></i>
        Speichern
      <% end %>
    </div>
  </div>

  <div class="container rounded-custom shadow">
    <h5 class="pt-3">Titel</h5>
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>

<%end%>

