<h1>Vorlage erstellen</h1>

<%= form_for @issue_template do |f| %>

  <div class="container rounded-custom shadow mh-70">
    <%= f.select(:issue_template_attributes, IssueTemplateAttribute::ATTRIBUTE_TYPES.map { |ita| [I18n.t('template_type_'+ita.to_s), ita] }, {include_blank: "Feld auswählen"}, {class: 'form-control mt-3'}) %>
    <button type="button" class="add_attribute btn btn-info float-end mt-3 aj_btn" data-id="<%= f.object.id %>">
      <i class="fas fa-check"></i>
      Hinzufügen
    </button>
  </div>

  <div class="container rounded-custom shadow">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", required: true %>
    <%= button_tag(type: 'submit', class: "btn btn-info float-end mt-3") do %>
      <span id="loader" class="spinner-border spinner-border-sm" role="status" style="display:none;"></span>
      <i id="prev_loader" class="fas fa-save"></i>
      Speichern
    <% end %>
  </div>

<%end%>

